In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, 28, 35, 22],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Austin', 'Seattle'],
        'Score': [85, 90, 78, 92, 80]}

In [3]:

# Create a pandas DataFrame from the dictionary
df = pd.DataFrame(data)
print(df)

      Name  Age         City  Score
0    Alice   25     New York     85
1      Bob   30  Los Angeles     90
2  Charlie   28      Chicago     78
3    David   35       Austin     92
4      Eve   22      Seattle     80

In [ ]:
#importing csv file
csv = pd.read_csv('iris.csv')

In [14]:
#removing string column and finding correlation
dataset = df.select_dtypes(exclude = "object")
print(dataset.corr())

            Age     Score
Age    1.000000  0.739003
Score  0.739003  1.000000

In [15]:
#get info about data 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
 3   Score   5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None

In [4]:
# **1. Selection by Label (Column)**
# Select the 'Age' column
age_col = df['Age']
print("\nAge column:\n", age_col)

Age column:
 0    25
1    30
2    28
3    35
4    22
Name: Age, dtype: int64

In [5]:
# **2. Selection by Position (Index)**
# Select the first row
first_row = df.iloc[0]  # Using integer location (0-based indexing)
print("\nFirst row:\n", first_row)

First row:
 Name        Alice
Age            25
City     New York
Score          85
Name: 0, dtype: object

In [6]:
# **3. Selection by Label and Position**
# Select rows 1 to 3 (excluding 4th) and columns 'Name' and 'City'
subset_df = df.iloc[1:4, [0, 2]]
print("\nSubset (rows 1-3, columns 'Name' and 'City'):\n", subset_df)

Subset (rows 1-3, columns 'Name' and 'City'):
       Name         City
1      Bob  Los Angeles
2  Charlie      Chicago
3    David       Austin

In [7]:
# **4. Boolean Indexing**
# Select rows where 'Age' is greater than 30
gt_30_df = df[df['Age'] > 30]
print("\nRows where Age > 30:\n", gt_30_df)

Rows where Age > 30:
     Name  Age    City  Score
3  David   35  Austin     92

In [8]:
# **5. Filtering by Criteria**
# Select rows where 'City' is 'Los Angeles' or 'Seattle'
la_or_seattle_df = df[df['City'].isin(['Los Angeles', 'Seattle'])]
print("\nRows with City in 'Los Angeles' or 'Seattle':\n", la_or_seattle_df)

Rows with City in 'Los Angeles' or 'Seattle':
   Name  Age         City  Score
1  Bob   30  Los Angeles     90
4  Eve   22      Seattle     80

In [12]:
# **6. Sorting**
# Sort the DataFrame by 'Age' in descending order
sorted_df = df.sort_values(by='Age', ascending= False)
print("\nSorted by Age (descending):\n", sorted_df)

Sorted by Age (descending):
       Name  Age         City  Score
3    David   35       Austin     92
1      Bob   30  Los Angeles     90
2  Charlie   28      Chicago     78
0    Alice   25     New York     85
4      Eve   22      Seattle     80

In [13]:
# **7. Grouping**
# Group data by 'City' and calculate average 'Score'
avg_score_by_city = df.groupby('City')['Score'].mean()
print("\nAverage Score by City:\n", avg_score_by_city)

Average Score by City:
 City
Austin         92.0
Chicago        78.0
Los Angeles    90.0
New York       85.0
Seattle        80.0
Name: Score, dtype: float64

In [16]:
# Calculate mean, median, and mode for 'Age'
age_mean = df['Age'].mean()
age_median = df['Age'].median()
age_mode = df['Age'].mode()[0]  # Accessing the first mode value

print(f"\nMean of Age: {age_mean}")
print(f"Median of Age: {age_median}")
print(f"Mode of Age: {age_mode}")

Mean of Age: 28.0
Median of Age: 28.0
Mode of Age: 22

In [ ]:
# **3. Data Frame Shape**
# Get the dimensions (rows, columns) of the DataFrame
df_shape = df.shape
print(f"\nShape of DataFrame (rows, columns): {df_shape}")

In [ ]:
#removing rows 
csv.drop(0, inplace=True)

#remove all rows with null values 
csv.dropna()

In [ ]:
#fill new values in empty spaces
csv.fillna(100,inplace=True)